// Theme colors
$orange: #fa5d27;
$black: #333333;
$yellow: #fcc320;
$green: #26be0b;
$light-green: #88b31a;
$blue: #3e97ff;
$dark-blue: #165999;
$light-blue: #95cfed;
$white: #ffffff;
$gray: #e5e5e5;
$light-gray: #eeeeee;
$dark-gray: #adadad;
